[submodule "haas-backend"]
	path = haas-backend
	url = git@github.com:west-suffolk-college/haas-backend.git
[submodule "haas-stack"]
	path = haas-stack
	url = git@github.com:west-suffolk-college/haas-stack.git
