[submodule "haas-backend"]
	path = haas-backend
	url = git@github.com:west-suffolk-college/haas-backend.git
[submodule "haas-client"]
	path = haas-client
	url = git@github.com:west-suffolk-college/haas-client.git
